.container {
	display: flex;
	background-color: #404040;
	width: 100%;
	height: max-content;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.links {
	display: flex;
	list-style-type: none;
}

.link {
	height: 100%;
	text-decoration: none;
	position: relative;
	padding: 1rem;
	display: block;
	background-color: #202020;
}

.link:hover {
	background-color: #101010;
}

.link::before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 5px;
	bottom: 0;
	left: 0;
	background-color: #000;
	transform: scaleX(0);
	transition: transform 0.3s ease;
}

.link:hover::before {
	transform: scaleX(1);
}

.month-text {
	display: inline-block;
	padding-left: 0.5rem;
}

.change-month {
	color: #ffffff;
	text-decoration: none;
	align-items: center;
	display: flex;
}

.month-container {
	background-color: #202020;
	padding: 1rem;
	position: relative;
}

.month-container:hover {
	background-color: #101010;
}

.month-container::before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 5px;
	bottom: 0;
	left: 0;
	background-color: #000;
	transform: scaleX(0);
	transition: transform 0.3s ease;
}

.month-container:hover::before {
	transform: scaleX(1);
}

.red {
	color: #ff6666;
}

.green {
	color: lightgreen;
}